// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.my-alert {
    margin-left: -15px;
}

.badge-purple {
    background-color: #9561e2;
    color: #fff;
}

.post-cover-img {
    display: block;
    max-width: 100%;
    margin-bottom: 15px;
}
.index-post-cover {
    height: 50px;
    width: 100px;
    object-fit: fill;
}