@import './variables.scss';
@import './mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.body-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100%;
    padding-bottom: 45px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.button {
    margin: 15px auto 0;
    padding: 10px;
    color: #fff;
    background-color: $purple;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;

    &:hover {
        background-color: $purple-hover;
        cursor: pointer;
    }
}

h1 {
    margin: 15px 0;
    font-size: 48px;
    text-align: center;
    font-size: 64px;
    color: #fff;    
    text-shadow: 0px 0px 15px rgba(0, 0 , 0, 0.5);
} 

.pill {
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 15px;
    color: #fff;
    background-color: $purple;
    transition: .2s;

    &:hover {
        background-color: $purple-hover;
    }
}

.badge {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-color: $teal;
    transition: .2s;

    &:hover {
        background-color: $teal-hover;
        cursor: pointer;
    }
}

.pagination {
    width: 100%;
    text-align: center;

    .pag-button {
        cursor: pointer;
        background-color: $purple;
        color: #fff;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        box-shadow: 0px 5px 5px rgba(0, 0 , 0, 0.5);
        transition: .2s;

        &:hover {
            text-decoration: none;
            background-color: $purple-hover;
        }

        &.disabled-button {
            background-color: grey;
            color: hsl(0, 0%, 70%);                
            cursor: default;
    
            &:hover {
                background-color: grey;
            }
        }
    
        &.focus-button {
            background-color: $indigo;

            &:hover {
                background-color: $indigo-hover;
            }
        }
    }
}

.bg-indigo {
    background-color: $indigo;
    
    &:hover {
        background-color: $indigo-hover;
    }
}

.post-links {
    list-style: none;

    & li::before {
      content: "\2023";
      color: $purple;
      font-weight: 700;
      font-size: 36px;
      vertical-align: middle;
      display: inline-block;
      margin-left: -15px;
      margin-right: 15px;
    }
  }

.created-date {
    margin-left: 15px;
    color: $teal;
}
  